.App {
  font-family: sans-serif;
  text-align: center;
}

.showText {
  margin-left: 60px;
}

.parentDiv {
  background-color: #ffffff;
  /* border: 2px solid black; */
  top: 50%;
  left: 50%;
  width: 257px;
  height: 150px;
  margin: 80px auto;
  box-shadow: 2px 3px 2px 2px rgb(206, 199, 199);
}

.decrementBtn {
  display: inline-block;
  width: 60px;
  height: 56px;
  border: 1px solid #b24242;
  background-color: #b24242;
  text-align: center;
  margin-left: 26px;
  margin-top: 20px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  cursor: pointer;
  background-color: #fbe8e8;
  padding-top: 15px;
}

.incrementBtn {
  display: inline-block;
  width: 60px;
  height: 56px;
  border: 1px solid #b24242;
  text-align: center;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
  background-color: #b24242;
  padding-top: 15px;
}

.counterValue {
  display: inline-block;
  width: 60px;
  height: 56px;
  border: 1px solid #b24242;
  text-align: center;
  top: 50%;
  padding-top: 15px;
}

.counterValue input {
  display: inline-block;
  width: 60px;
  height: 56px;
  border: 1px solid #b24242;
  text-align: center;
  top: 50%;
  padding-top: 20px;
}

.displayCOunt {
  margin: 12px 30px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
  left: 28px;
  top: 5px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  margin: 8px;
  border: 3px solid rgb(67, 62, 62);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(94, 88, 88) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
